/* :root {
  --background-image: url("");
} */
:root {
  --background: #fff;
  --color: #000;
  --background-menu: #99c1de;
  --color-menu-link: #000000;
  --background-menu-link: #bcd4e6;
  --color-contact-empty: #000000;
  --background-contact-empty: var(--background);
  --color-contact-group: #000;
  --background-contact-group: #99c1de;
  --color-contact-active: #ffffff;
  --background-contact-active: #2d6187;
  --color-contact-online: #000000;
  --background-contact-online: #83bce6;
  --color-contact-offline: #000000;
  --background-contact-offline: #c0c8cd;
  --color-chat-text-me: #000000;
  --background-chat-text-me: #cce8fc;
  --color-chat-text-other: #000000;
  --background-chat-text-other: var(--background-chat-text-me);
  --background-contact-alert: #f1f7e9;
  --background-chat-input-send: #99c1de;
  --color-fullscreen: #000;
  --background-fullscreen: #fff;
  --fill-fullscreen: #808080d0;
  --color-chat-text-link: #0000ff;
  --background-chat-input: #d3d3d3;
  --background-chat-input-icon: #fff;
  --color-input-std: #000;
  --background-input-std: #fff;
  --border-input-std: 1px solid #767676;
  --color-button-std: #000;
  --background-button-std: #efefef;
  --border-button-std: 1px solid #767676;
  --color-alarm: #e83c3c;
  --main--font: Arial, Helvetica, sans-serif;
  --font-chat-text-pre: Arial, Helvetica, sans-serif;
  --color-head-online: var(--background-contact-online);
  --color-head-offline: var(--background-contact-offline);
}
/* базовые стили */
body {
  background: var(--background);
  color: var(--color);
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: var(--main--font);
  background-image: var(--background-image);
}
summary {
  user-select: none;
}
#father {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "menu menu account"
    "contact head head"
    "contact chat chat"
    "contact message message";
  grid-template-rows: 40px 60px 1fr 60px;
  grid-template-columns: 250px 1fr 400px;
}
#fullscreen {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--fill-fullscreen);
  z-index: 999;
}
#fullscreen > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background: var(--background-fullscreen);
  color: var(--color-fullscreen);
  padding: 10px;
  border-radius: 10px;
}
#free > * {
  margin: 10px;
}
table#padded td {
  padding: 5px;
}
input,
textarea {
  background: var(--background-input-std);
  color: var(--color-input-std);
  border: var(--border-input-std);
}
button {
  background: var(--background-button-std);
  color: var(--color-button-std);
  border: var(--border-button-std);
  border-radius: 3px;
}
button:hover {
  color: var(--background-button-std);
  background: var(--color-button-std);
}
/* меню */
#menu {
  grid-area: menu;
  padding: 5px;
  background: var(--background-menu);
  text-align: center;
}
#menu > span > img {
  width: 16px;
  vertical-align: middle;
  background: white;
  padding: 3px;
  border-radius: 3px;
}
#menu > span {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background: var(--background-menu-link);
  color: var(--color-menu-link);
}
#menu > span:hover {
  color: var(--background-menu-link);
  background: var(--color-menu-link);
}
#menu > span:not(:first-child) {
  margin-left: 10px;
}
#account {
  grid-area: account;
  padding: 10px;
  background: var(--background-menu);
  text-align: right;
}
/* ввод текста сообщения */
#chat-message {
  grid-area: message;
  border-left: 2px solid gray;
}
#chat-message #chat-input {
  height: 38px;
  width: calc(100% - 22px);
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  background: var(--background-chat-input);
  vertical-align: middle;
}
#chat-message textarea.message,
#chat-message input.message {
  height: 34px;
  width: calc(100% - 52px - 52px - 52px - 52px);
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  vertical-align: middle;
  font-size: large;
}
#chat-message label.action {
  display: inline-block;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 10px;
  background: var(--background-chat-input-icon);
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 8px;
  border: 2px solid gray;
}
#chat-message button.action {
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 10px;
  background: var(--background-chat-input-send);
  vertical-align: middle;
  margin-left: 8px;
}
#chat-message label.action img {
  height: 36px;
}
#chat-message button.action img {
  vertical-align: middle;
  height: 20px;
}
/* список контактов */
#contact {
  grid-area: contact;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#contact::-webkit-scrollbar {
  display: none;
}
#contact table {
  border-spacing: 0px 3px;
  font-weight: bold;
  width: calc(100% - 10px);
  margin: 5px;
}
#contact table td {
  padding: 5px;
}
#contact tr {
  background: var(--background-contact-empty);
  color: var(--color-contact-empty);
  vertical-align: middle;
}
#contact tr td:first-child {
  border-radius: 5px 0px 0px 5px;
}
#contact tr td:last-child {
  border-radius: 0px 5px 5px 0px;
}
#contact tr[status="online"] {
  background: var(--background-contact-online);
  color: var(--color-contact-online);
}
#contact tr[status="group"] {
  background: var(--background-contact-group);
  color: var(--color-contact-group);
}
#contact tr[status="offline"] {
  background: var(--background-contact-offline);
  color: var(--color-contact-offline);
}
#contact tr[status="active"] {
  background: var(--background-contact-active);
  color: var(--color-contact-active);
}
#contact table img {
  max-height: 20px;
  max-width: 20px;
  vertical-align: middle;
}
#contact td span.mc {
  background: var(--background-contact-alert);
  padding: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-break: unset;
  font-weight: bolder;
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
}
#contact td span.name {
  display: inline-block;
  vertical-align: middle;
}
/* шапка чата */
#chat-head {
  grid-area: head;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  padding: 10px;
}
#chat-head > h1 {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* текст переписки */
#chat-text {
  height: 100%;
  width: calc(100% - 2px);
  grid-area: chat;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-left: 2px solid gray;
}
#chat-text::-webkit-scrollbar {
  display: none;
}
#chat-text #text > div {
  background: var(--background-chat-text-other);
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
#chat-text #text.me {
  text-align: right;
}
#chat-text #text.me > div {
  background: var(--background-chat-text-me);
}
#chat-text #text pre {
  white-space: pre-wrap;
  word-break: break-all;
  text-align: left;
  font-family: var(--font-chat-text-pre);
}
#chat-text #text pre a {
  color: var(--color-chat-text-link);
}
#chat-text #name,
#chat-text #me {
  white-space: nowrap;
  word-break: unset;
  font-weight: bold;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
}
#chat-text #name i.time,
#chat-text #me i.time {
  font-size: smaller;
  color: gray;
}
#chat-text span.to-new {
  width: calc(100% - 26px);
  left: 10px;
  bottom: 0px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: blue;
  background: white;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid black;
  display: inline-block;
}
#chat-text #me span {
  padding: 3px;
  border-radius: 3px;
}
#chat-text td {
  padding-top: 5px;
  padding-bottom: 10px;
}
/* логин и регистрация */
#login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: absolute;
  text-align: center;
}
#login input {
  width: 200px;
  height: 30px;
}
#login button {
  width: 208px;
  height: 30px;
  color: green;
}
#login span {
  padding-top: 5px;
  display: inline-block;
  color: blue;
  font-style: italic;
}
